<app-header titulo =" " lug="proveedores"> </app-header> 

<ion-content  class="iniciopro">

 <ion-grid fixed>

    <ion-row  >
        <ion-col class="tiinici">
           <div align="center">
    
               <strong>¿Que deseas hacer hoy?</strong>
              </div>
    
        </ion-col>
       
    
    
     </ion-row>
    
     <ion-row class="but"     >
        <ion-col  class="pru"     size-lg="6" size-md="8" size-sm="10" size-xs="12" >
            
              <ion-row    style="   height: 100%; ">
                <ion-col  size-lg="12"      class=" icopro1"  style="width: 100%;"   >
                 <ion-row class="hopro" style="height: 100%;">
                   <ion-col     style="height: 100%;   "  routerLink="/proveedores/concurso/Solicitudes"    size-lg="3.8" size-sm="3.8" size-xs="3.8"    > </ion-col>                  
                   <ion-col   style="height: 100%;   "  routerLink="/proveedores/concurso/Solicitudes"size-lg="6" size-sm="8"  size-xs="8"  class="contenedor1" >
                     <strong  class="strong1"  >CONCURSO DE <br> ADQUISICION</strong>
                     <ion-col  class="strong2 mr" size="12" style=" width: 100%;">
                     <strong    class="strong2"   >CONCURSO DE ADQUISICION</strong> 
                      <div style="padding-bottom: 0!important ; "   class="strong21"  >                      
                       En esta seccion encontraras:
                       <ul style="height: 100%; padding-bottom: 0!important ; margin-top: 0!important ;margin-bottom: 0!important ;">
                        <li style="border: 0!important ;padding: 0!important ;">Solicitudes</li>
                        <li style="border: 0!important ;padding: 0!important ;" >Curso</li>
                         <li style="border: 0!important ;padding: 0!important ;">Finanza</li>
                       </ul>
                      </div>
                     </ion-col> 
                   </ion-col>
                 </ion-row>
                </ion-col>
                
              </ion-row>
    
        </ion-col>
       
    
        <ion-col class="pru"   size-lg="6" size-md="8" size-sm="10" size-xs="12" >
            <ion-row    style="   height: 100%; ">
                <ion-col  size-lg="12"      class=" icopro2"  style="width: 100%;"   >
                 <ion-row class="hopro" style="height: 100%;">
                   <ion-col     style="height: 100%;   " routerLink="/proveedores/datos"    size-lg="3.8" size-sm="3.8" size-xs="3.8"    > </ion-col>                  
                   <ion-col   style="height: 100%;   "  routerLink="/proveedores/datos" size-lg="6" size-sm="7.2"  size-xs="7.2"  class="contenedor1" >
                     <strong  class="strong1"  >DATOS  DE   PROVEEDOR</strong>
                     <ion-col  class="strong2 mr" size="12" style=" width: 100%;">
                     <strong  class="strong2"   >DATOS DE PROVEEDOR</strong> 
                      <div   class="strong21"  >                      
                       En esta seccion encontraras:
                       <ul >
                        <li>Actualizar Proveedor</li>
                        
                       </ul>
                      </div>
                     </ion-col> 
                   </ion-col>
                 </ion-row>
                </ion-col>
                
              </ion-row>
    
        </ion-col>
    
     </ion-row>
    
     <ion-row class="but1"    >
                <ion-col class="pru1" size="4"   size-lg="6" size-md="8" size-sm="10" size-xs="12" >
                    <ion-row    style="   height: 100%; ">
                        <ion-col  size-lg="12"      class=" icopro3"  style="width: 100%;"   >
                         <ion-row class="hopro" style="height: 100%;">
                           <ion-col     style="height: 100%;   " routerLink="/proveedores/factura"    size-lg="3.8" size-sm="3.8" size-xs="3.8"   > </ion-col>                  
                           <ion-col   style="height: 100%;   "  routerLink="/proveedores/factura"   size-lg="6" size-sm="8"  size-xs="8"  class="contenedor1" >
                             <strong  class="strong1"  >FACTURAS  </strong>
                             <ion-col  class="strong2 mr" size="12" style=" width: 100%;">
                             <strong  class="strong2"   >FACTURAS   </strong> 
                              <div   class="strong21"  >                      
                               En esta seccion encontraras:
                               <ul >
                                <li>Facturas</li>
                                
                               </ul>
                              </div>
                             </ion-col> 
                           </ion-col>
                         </ion-row>
                        </ion-col>
                        
                      </ion-row>
                </ion-col>
    
     </ion-row>
    
    

 </ion-grid>
 
  
</ion-content>
