<ion-content>
    <div class="contenedor ">
        <ion-grid>
            <ion-row class="cont">

                <ion-col class="row1 fo" style=" justify-content: center;" size-lg="6" size-md="4" size-sm="5"
                         size-xs="0">

                </ion-col>

                <ion-col size-lg="6" size-md="8" size-sm="7" size-xs="12">

                    <ion-row class="bors">


                    </ion-row>
                    <ion-row class="provedorrow pru">


                        <ion-col class="row1" size-lg="0" size-md="2" size-sm="0" size-xs="0">

                        </ion-col>

                        <ion-col size-lg="10" size-md="10" size-sm="12" size-xs="12">
                            <ion-row style="height: 100%; ">
                                <ion-col size-lg="12" [style]="fondo" class="icocli" routerLink="/login/proveedores">
                                    <ion-row class="ho" style="height: 100%;">
                                        <ion-col style="height: 100%;  " size-lg="4.8" size-sm="4.8"
                                                 size-xs="4.8"></ion-col>

                                        <ion-col style="height: 100%;   " size-lg="7.2" size-sm="7.2" size-xs="7.2"
                                                 class="contenedor1">

                                            <strong class="strong1">PROVEEDORES</strong>
                                            <ion-col size="12" style=" width: 100%;">
                                                <strong class="strong2">PROVEEDORES</strong>
                                                <div class="strong21">
                                                    En esta sección encontrarás:
                                                    <ul>
                                                        <li>Concurso de Adquisiciones.</li>
                                                        <li>Datos de proveedor.</li>
                                                        <li>Facturas.</li>
                                                    </ul>
                                                </div>
                                            </ion-col>


                                        </ion-col>
                                    </ion-row>
                                </ion-col>

                            </ion-row>
                        </ion-col>


                    </ion-row>


                    <ion-row class="clienterow pru">

                        <ion-col class="row1" size-lg="0" size-md="2" size-sm="0" size-xs="0">

                        </ion-col>

                        <ion-col size-lg="10" size-md="10" size-sm="12" size-xs="12">
                            <ion-row style="height: 100%; ">
                                <ion-col size-lg="12" class="pru3 icocli" [style]="fondo2" routerLink="/login">
                                    <ion-row class="ho" style="height: 100%;">
                                        <ion-col size-lg="4.8" size-md="4.8" size-sm="4.8" size-xs="4.8"></ion-col>

                                        <ion-col size-lg="7.2" size-md="7.2" size-sm="7.2" size-xs="7.2"
                                                 class="contenedor1">

                                            <strong class="strong1">CLIENTES</strong>
                                            <ion-col size="12" style=" width: 100%;">
                                                <strong class="strong2">CLIENTES</strong>
                                                <div class="strong21">
                                                    En esta sección encontrarás:
                                                    <ul>
                                                        <li>Tracking de contendores.</li>
                                                        <li>Información de Facturas.</li>
                                                        <li>Visualización y descarga de documentos.</li>
                                                    </ul>
                                                </div>
                                            </ion-col>


                                        </ion-col>
                                    </ion-row>
                                </ion-col>

                            </ion-row>
                        </ion-col>


                    </ion-row>

                    <ion-row class="colaboradorrow pru">
                        <ion-col class="row1" size-lg="0" size-md="2" size-sm="0" size-xs="0">

                        </ion-col>

                        <ion-col size-lg="10" size-md="10" size-sm="12" size-xs="12">
                            <ion-row style="height: 100%; ">
                                <ion-col size-lg="12" class="pru3 icocli" [style]="fondo3"  routerLink="/login/colaboradores">
                                    <ion-row class="ho" style="height: 100%; ">
                                        <ion-col size-lg="4.8" size-md="4.8" size-sm="4.8" size-xs="4.8"></ion-col>

                                        <ion-col size-lg="7.2" size-md="7.2" size-sm="7.2" size-xs="7.2"
                                                 class="contenedor1">

                                            <strong class="strong1">COLABORADORES</strong>
                                            <ion-col size="12" style=" width: 100%;">
                                                <strong class="strong2">COLABORADORES</strong>
                                                <div class="strong21">
                                                    En esta sección encontrarás:
                                                    <ul>
                                                        <li>Compras de materia prima.</li>
                                                        <li>Armador de materia prima.</li>
                                                        <li>Administración de documentos.</li>
                                                        <li>Administración de contratos.</li>
                                                    </ul>
                                                </div>
                                            </ion-col>


                                        </ion-col>
                                    </ion-row>
                                </ion-col>

                            </ion-row>
                        </ion-col>

                    </ion-row>


                    <ion-row class="bor">


                    </ion-row>

                </ion-col>

            </ion-row>


        </ion-grid>
    </div>
</ion-content>
