.inicohome{

  .icopro2{
    background:url(../../../assets/img/clientesvg/homede.svg)   no-repeat;
  
  }
  .icopro1{
     background:url(../../../assets/img/clientesvg/hometr.svg)   no-repeat;
   
  
  }
  .icopro3{
     background:url(../../../assets/img/clientesvg/homegestion.svg)   no-repeat;
     
  }
  
  app-header{
  
    width: 100%;
   }
  .contenedor1
  {
  display: flex;
  //  justify-content: center;
  align-items: center;
   }
  ion-col:focus {
    outline: 0;
  }
  ul{
    padding-left: 5%;
    padding-top: 0px;
  }
   
  .ti{
    width: 100%;
  font-size: 30px;
  
  }
  
  .but,.but1{
     justify-content: center;
  }
  
  
  @media screen and (max-width: 449px){
    .ho{
      height: 90%  !important;
       
  
   }
    .strong2,.strong21,.strong210{
       
        display: none;
      }
      .strong1{
        font-size: 25px;
      }
    ion-grid{
     
        height: 100%; 
     }
     .but{
        height: 50% !important;
  
    }
    .strong1{
        font-size: 25px;
      }
      .strong2,.strong21,.strong210{
        font-size: 20px;
        display: none;
      }
      .pru12{
        height: 100% !important;
      }  
    .pru,.pru2{
        height: 50% !important;
    }
    
    .but1{
        height: 25% !important;
  
    }
    .ti{
        width: 100%;
    font-size: 30px;
    margin: 5%;
    }
    .icopro2,.div1,.icopro3,.icopro1{
        width: 100%  !important;
        
         padding: 0;   
     }
   
   
   }
  
  @media screen and (min-width: 450px){
    .ho{
      height: 90%  !important;
   
   }
    .strong1{
        font-size: 20px;
        display: none;
      }
     .strong2{
       font-size: 26px;
        color: black;
      
     }
     .strong21{
        font-size: 0px;
       
      
      
      } 
     .but{
         margin-top: 5%;
     }
     .ti{
         margin-top: 5%;
     }
     .icopro2 ,.icopro3,  .icopro1{
       width: 450px  !important;
       height: 153px !important;
  
    }
    .but,.but1{
        height: 30% !important;
     }
     .ho{
        width:90%  !important;
    cursor: pointer;
  
     }
    }
  
  
    @media screen and (min-width: 1000px){
      
        .ho:hover  .contenedor1 .strong2 {
            color: black;  
                 font-size: 16px;
                 margin-bottom: 0em !important;
                 padding-bottom: 0!important;
                 margin-top: 4px !important;
   
           }
           .ho:hover  .contenedor1 .strong21 {
            color: black;  
            font-size: 11px;
            padding-bottom: 1px!important;  
              margin-top: 0em!important;
              margin-bottom: 1%;
            }
         
          .strong21{
           font-size: 0px;
            margin-top: 3%;
            color: white;
           transition: 0.8s;
       
           
         }
         .strong1{
           font-size: 26px;
            color: black;
           transition: 0.8s;
           display: none;
    
         }
         .strong2{
           font-size: 26px;
           color: black;
           padding-right: 4%;
           
           transition: 0.8s;
          }
          
          
    }

}