<app-header titulo =" "  lug="clientes"> </app-header> 

<ion-content class="inicohome" >
 
 <ion-grid fixed>

    <ion-row>
        <ion-col class="ti">
           <div align="center">
    
               <strong>¿Qué deseas hacer hoy?</strong>
              </div>
    
        </ion-col>
       
    
    
     </ion-row>
     
     <ion-row  class="but ">

        <ion-col class="pru"      size-lg="6" size-md="8" size-sm="10" size-xs="12" >
            <ion-row  style=" height: 100%; ">
                <ion-col  size-lg="12"  class=" icopro1"    style="width: 100%; "  >
                 <ion-row class="ho" style="height: 100%;  ">
                   <ion-col   style="height: 100%;" class="icocli"   size-lg="3.8" size-md="4"  size-sm="4" size-xs="3.8"  routerLink="/clientes/tracking"           > </ion-col>
                   
                   <ion-col   style="height: 100%;" size-lg="6" size-sm="7.2"  size-xs="7.2"  routerLink="/clientes/tracking"  class="contenedor1 " >
     
                     <strong   class="strong1">TRACKING</strong> 
                     <ion-col   class="strong2"     size="12" style="  width: 100%; padding-bottom: 0;">
                     <strong  class="strong2"  >TRACKING</strong> 
                      <div  class="strong21"    >
                       <div style="padding-bottom: 0;  ">En esta sección encontrarás:  </div> 
                       <ul style="height: 100%; padding-bottom: 0; margin-top: 0;margin-bottom: 0; ">
                        <li style="border: 0;padding: 0;">Producción.</li>
                        <li style="border: 0;padding: 0;">Coordinación de Despacho.</li>
                        <li style="border: 0;padding: 0;">Puerto de Origen.</li>
                        <li style="border: 0;padding: 0;">Zarpe de Nave.</li>
                        <li style="border: 0;padding: 0;">Documentación.</li>
                       </ul>
                      </div>
                     </ion-col>
                   </ion-col>
                 </ion-row>
                </ion-col>
                
              </ion-row>
     
        </ion-col>
        <ion-col class="pru"    size-lg="6" size-md="8" size-sm="10" size-xs="12" >
            <ion-row  style=" height: 100%; ">
                <ion-col  size-lg="12" class=" icopro2"    style="width: 100%;"  >
                 <ion-row  class="ho" style="height: 100%;">
                            <ion-col   class="icocli" style="height: 100%;   " routerLink="/clientes/gestion"         size-lg="3.8" size-md="4" size-sm="4" size-xs="3.8"     > </ion-col>
                           
                           <ion-col    class="contenedor1 icocli" style="height: 100%;   "  routerLink="/clientes/gestion" size-lg="6"  size-md="8" size-sm="8"  size-xs="8"  >
             
                             <strong  class="strong1"  >GESTIÓN DE <br> DOCUMENTOS</strong>
                             <ion-col  class="strong2" size="12" style=" width: 100%;">
                             <strong  class="strong2"   >GESTIÓN DE DOCUMENTOS</strong>
                              <div   class="strong21"  >
                                
                               En esta sección encontrarás:
                               <ul >
                                 
                                 <li>Documentación de cada factura.</li>
                               </ul>
                              </div>
                             </ion-col>
                           </ion-col>
                 </ion-row>
                </ion-col>

              </ion-row>
        </ion-col>
     </ion-row>
 </ion-grid>
 
  
</ion-content>
